# Puertos expuestos en la máquina local
APP_LOCAL_PORT=PUERTO_APP_SERVER
DB_LOCAL_PORT=PUERTO_BASE_DATOS

# Configuración de la Base de Datos MariaDB
DB_NAME=fenixtech_db
DB_USER=fenix_user
DB_PASSWORD=tu_contraseña_super_segura_123
DB_ROOT_PASSWORD=tu_contraseña_root_super_segura_456